<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
         <category 
               name="transaction category"
               id="transaction.commands.category">
         </category>
         <command
               name="Extract Transaction"
               categoryId="transaction.commands.category"
               id="transaction.commands.ExtractTransaction">
         </command>
         <command
               name="Build Old Version Model"
               categoryId="transaction.commands.category"
               id="transaction.commands.BuildOldVersionModel">
         </command>
         <command
               name="Build New Version Model"
               categoryId="transaction.commands.category"
               id="transaction.commands.BuildNewVersionModel">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="transaction.commands.ExtractTransaction"
            class="cn.edu.nju.raua.transactions.handlers.ExtractTransactionsHandler">
      </handler>
      <handler
            commandId="transaction.commands.BuildOldVersionModel"
            class="cn.edu.nju.raua.transactions.handlers.BuildOldModelHandler">
      </handler>
      <handler
            commandId="transaction.commands.BuildNewVersionModel"
            class="cn.edu.nju.raua.transactions.handlers.BuildNewModelHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Transaction"
               mnemonic="A"
               id="transaction.menus.TransactionMenu">
            <command
                  commandId="transaction.commands.ExtractTransaction"
                  id="transaction.menus.ExtractTransaction"
                  label="Extract Transaction"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="transaction.commands.BuildOldVersionModel"
                  id="transaction.menus.BuildOldVersionModel"
                  label="Build Old Model"
                  mnemonic="O"
                  style="push">
            </command>
            <command
                  commandId="transaction.commands.BuildNewVersionModel"
                  id="transaction.menus.BuildNewVersionModel"
                  label="Build New Model"
                  mnemonic="N"
                  style="push">
            </command>      
         </menu>
      </menuContribution>
   </extension>

</plugin>
