/src/cn.edu.nju.raua.transactions/bin
/src/cn.edu.nju.raua.mining.aprior/bin
/src/cn.edu.nju.raua.core/bin
/src/cn.edu.nju.raua.mining.closetplus/bin
/src/cn.edu.nju.raua.rulegenerator/bin
/src/cn.edu.nju.aucminer.client/bin